#### rozdelenie prace 50/50

In [9]:
import pandas as pd

# 1

Nacitanie dat do premennych

In [10]:
df_observation = pd.read_csv('datasets/observation.csv',sep='\t')
df_patient = pd.read_csv('datasets/patient.csv',sep='\t')
df_station = pd.read_csv('datasets/station.csv',sep='\t')

Zoznamenie sa s datami

In [11]:
df_observation.head()

,SpO₂,HR,PI,RR,EtCO₂,FiO₂,PRV,BP,Skin Temperature,Motion/Activity index,...,CO,Blood Flow Index,PPG waveform features,Signal Quality Index,Respiratory effort,O₂ extraction ratio,SNR,oximetry,latitude,longitude
0,97.620193,73.047425,14.796690,14.368778,41.147562,44.998343,101.744512,108.175478,35.284983,11.207029,...,4.024120,57.393854,31.011871,61.170762,84.520164,0.292173,22.855412,1.0,53.69786,-2.68758
1,97.828560,91.254424,15.226811,17.746857,38.822901,67.082312,136.925626,106.173834,35.174372,7.212819,...,4.745712,27.416950,70.006621,36.441271,39.225366,0.210614,33.204156,0.0,53.59782,34.33825
2,96.771755,80.281644,9.746972,18.608674,37.259533,30.457594,117.224898,106.045090,36.168580,13.639960,...,4.094455,58.161639,61.632568,59.933116,55.132717,0.238559,31.176268,1.0,10.73750,122.96660
3,97.060000,78.424910,10.731992,18.942426,37.970214,51.181183,105.148959,107.950747,36.229369,4.946382,...,4.064535,44.622856,64.227237,32.365137,69.857796,0.225224,30.328586,0.0,12.25282,79.41727
4,96.852482,77.855986,9.266719,14.754602,43.034371,49.059859,140.404608,104.395081,35.566732,13.013934,...,4.060419,55.895316,71.565659,65.842228,62.507491,0.214413,20.550401,1.0,-12.91667,-39.25000

In [12]:
df_observation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12047 entries, 0 to 12046
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SpO₂                   12047 non-null  float64
 1   HR                     12047 non-null  float64
 2   PI                     12047 non-null  float64
 3   RR                     12047 non-null  float64
 4   EtCO₂                  12047 non-null  float64
 5   FiO₂                   12047 non-null  float64
 6   PRV                    12047 non-null  float64
 7   BP                     12047 non-null  float64
 8   Skin Temperature       12047 non-null  float64
 9   Motion/Activity index  12047 non-null  float64
 10  PVI                    12047 non-null  float64
 11  Hb level               12047 non-null  float64
 12  SV                     12047 non-null  float64
 13  CO                     12047 non-null  float64
 14  Blood Flow Index       12047 non-null  float64
 15  PPG waveform features  12047 non-null  float64
 16  Signal Quality Index   12047 non-null  float64
 17  Respiratory effort     12047 non-null  float64
 18  O₂ extraction ratio    12047 non-null  float64
 19  SNR                    12047 non-null  float64
 20  oximetry               12047 non-null  float64
 21  latitude               12047 non-null  float64
 22  longitude              12047 non-null  float64
dtypes: float64(23)
memory usage: 2.1 MB

In [13]:
df_patient.head()

,mail,birthdate,registration,blood_group,company,username,user_id,ssn,residence,name,job,current_location,station_ID
0,alicevasconcelos@bol.com.br,2014-05-22,03 Jul 2022,B+,Cavalcanti S/A,theo31,763,38671502902,NaN,Yuri Mendonça,NaN,"(Decimal('75.5622165'), Decimal('140.611314'))",705
1,carla33@hotmail.com,NaN,2019-02-19,AB-,Buck-Brown,donald76,571,648-52-7110,NaN,Amanda Douglas,NaN,"(Decimal('56.355046'), Decimal('-31.498637'))",387
2,julie13@yahoo.com,NaN,18 Apr 2023,B+,Acosta-Black,diazrhonda,1368,472-71-8574,NaN,Jordan Shea,NaN,"(Decimal('77.9571885'), Decimal('-141.860092'))",593
3,murakamishota@hotmail.com,NaN,2021-05-31,A+,加藤農林合同会社,nanamiinoue,1011,156-44-9296,NaN,伊藤 修平,高等学校教員,"(Decimal('5.799277'), Decimal('58.160125'))",429
4,mauro58@gmail.com,NaN,2021-10-19,A-,Ferragni-Rapisardi SPA,gaetanoboito,1662,CMMSYV42C16A763E,NaN,Sig. Atenulf Polani,NaN,"(Decimal('78.8543295'), Decimal('-101.613684'))",388

In [14]:
df_patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2069 entries, 0 to 2068
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mail              2069 non-null   object
 1   birthdate         1138 non-null   object
 2   registration      2069 non-null   object
 3   blood_group       2069 non-null   object
 4   company           2069 non-null   object
 5   username          2069 non-null   object
 6   user_id           2069 non-null   int64
 7   ssn               2069 non-null   object
 8   residence         0 non-null      float64
 9   name              2069 non-null   object
 10  job               621 non-null    object
 11  current_location  1966 non-null   object
 12  station_ID        2069 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 210.3+ KB

In [15]:
df_station.head()

,code,QoS,longitude,revision,location,latitude
0,CN,good,117.33333,"03/21/2024, 00:00:00",Asia/Shanghai,34.85000
1,IT,good,13.57661,2022/02/24,Europe/Rome,37.31065
2,US,excellent,-82.07842,16 Dec 2021,America/New_York,26.91756
3,BR,good,-35.71667,09 Feb 2020,America/Recife,-8.66667
4,UA,good,36.25361,2019/01/30,Europe/Zaporozhye,47.48444

In [16]:
df_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 831 entries, 0 to 830
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   code       829 non-null    object
 1   QoS        831 non-null    object
 2   longitude  831 non-null    float64
 3   revision   831 non-null    object
 4   location   831 non-null    object
 5   latitude   831 non-null    float64
dtypes: float64(2), object(4)
memory usage: 39.1+ KB